.fade {
  opacity: 0;
  -webkit-transition: opacity ${FADE_DURATION}ms linear;
       -o-transition: opacity ${FADE_DURATION}ms linear;
          transition: opacity ${FADE_DURATION}ms linear;
}

.in {
  opacity: 1;
}